# Gradle build output
.gradle/
build/

# IDE configurations
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# Local Minecraft test server data
server-data/

# OS specific files
.DS_Store
Thumbs.db
